.loginsubmit{
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-direction: column;
}

.loginsubmit button {
  background: #bc0c06;
  border: none;
}

.loginsubmit button:hover {
  background: #ef0c00;
}

form input {
  margin-bottom: 0.7rem;
}

.password_reminder_link{
  text-align: end;
  margin-top: 1rem;
}

.password_reminder_description{
  margin: 2.5rem 0.5rem 3rem 0.5rem;
}
