
<h2>Regisztráció</h2>

<p>
   Felhasználónév: {{ username|raw }}
</p>
<p>
   Jelszó: {{ password|raw }}
</p>
<p>
   Bejelentkezés helye: <a href="{{ url('home') }}">A bejelentkezéshez kattints ide!</a>.
</p>
<p>
   Az első bejelentkezés után kérlek változtasd meg ezt a jelszót a profilodban! A jelszó megváltoztatásához szükséges lesz az automatikusan generált jelszóra is!
</p>

<p>
   Üdvözlettel,
</p>
<p>
   MKSZ
</p>
